<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
    <listeners>
        <listener class-name="utility.ExtentReportManager" />
    </listeners>
    <test name="Test">
        <classes>
            <class name="Tests.ApiDemoTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
